* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#nav {
  width: 100%;
  height: 70px;
  background-color: #6f6af7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}

.element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
}
.element p {
  margin: 0 30px;
  font-family: DM Sans;
  font-size: 22px;
  font-weight: 400;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: left;
}
.element input {
  padding: 10px 17px;
  border-radius: 50px;
}
.dapper img {
  width: 65%;
  margin-left: 25px;
}
.vector img {
  width: 50%;
}

.images {
  background-color: beige;
  height: 90vh;
}
.images {
  height: 85vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.img1 {
  width: 28%;
}
.img2 {
  width: 60%;
  height: 66vh;
}

.para {
  font-family: DM Sans;
  font-size: 27px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: left;

  position: absolute;
  color: #6f7373;
  top: 21.8%;
  right: 16.7%;
}

/* CARDS */
.cards {
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #ffffff;
  font-size: 23px;
}

.one {
  background-color: #929dff;
  padding: 2% 3%;
  border-radius: 15px;
}
.two {
  background-color: #734cf2;
  padding: 2% 3%;
  border-radius: 15px;
}
.three {
  background-color: #d288ff;
  padding: 2% 3%;
  border-radius: 15px;
}
.four {
  background-color: #000000;
  padding: 2% 3%;
  border-radius: 15px;
}

.last-part {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  width: 85%;
  height: 70%;
  background-color: #483eff;
  border-radius: 25px;
  position: relative;
}
.your-info {
  height: 90%;
  width: 65%;
  background-color: #ffffff;
  border-radius: 20px;
  position: absolute;
  right: 2%;
  top: 5%;
}

.but {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  position: relative;
  top: 10%;
  left: 4%;

  flex-direction: column;
  > button {
    font-size: 30px;

    width: 25%;
    padding: 30px 50px;
    border-radius: 20px;
    margin-bottom: 50px;
  }
}

.your-info h1 {
  margin: 20px 35px;
}

.your-info h2 {
  margin: 20px 50px;
  > span {
    font-size: 20px;
    font-weight: 100;
  }
}

.next {
  position: absolute;
  bottom: 3%;
  right: 5%;
  > button {
    background-color: black;
    padding: 13px 45px;
    color: white;
    font-size: 15px;
    border-radius: 10px;
  }
}

.onee {
  background-color: #bce0f6;
  color: #000000;
}
.twoo {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid white;
}
.fixed {
  position: absolute;
  right: 15%;
  top: 80%;
  z-index: 50;
  > img {
    position: fixed;
  }
}

.fly {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 15%;
  right: -1%;
  > img {
    width: 75%;
  }
}
.whatsapp {
  border: 3px solid black;
  border-radius: 5px;
}
